.App {
  background-image: url('./static/img/scroll3.png');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  width: 100vw;
  min-height: 900px;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.home-jumbotron {
  padding: 10px;
  font-family: 'Luminari';
}

.events {
  list-style-type: none;
  padding-left: 103px;
  max-width: 500px;
}

.filter-input {
  padding-left: 150px;
  padding-top: 0px;
}

ul {
  padding: 25px;
}

.jumbotron-main {
  background-image: url('./static/img/HomeHero.png');
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
  background-color: white;
  height: 375px;
  cursor: url("https://img.icons8.com/color/48/000000/fantasy.png"), auto;
  margin-bottom: 0;
}

.link {
  color: white;
  cursor: url("https://img.icons8.com/color/48/000000/fantasy.png"), auto;
}

.link:hover {
  color: white;
}

h1,
h2,
h3,
h4,
h5 {
  font-family: 'Luminari';
}

.mb-50{
  margin-bottom: 50px
}

.link-black {
  color: black;
  cursor: url("https://img.icons8.com/color/48/000000/fantasy.png"), auto;
}

.link-black:hover {
  color: black;
}

.details {
  font-family: 'Luminari';
  width: 40vw;
  padding-top: 20px;
  margin: 0 auto;
  text-align: center;
}

.event-details {
  font-family: 'Luminari';
  width: 40vw;
  margin: 0 auto;
}

.sbs-btn {
  margin: 10px;
}

.mt {
  margin-top: 30px;
}

.card-img {
  height: 145px;
}

.magic-enter {
  opacity: 0.01;
}

.magic-enter-active {
  opacity: 1;
  transform: translateX(0);
  transition: opacity 1000ms, transform 1000ms;
}

.magic-leave {
  opacity: 1;
}

.magic-leave-active {
  opacity: 0.01;
  transition: opacity 1000ms, transform 1000ms;

}
