
.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.home-jumbotron {
  padding: 10px;
  font-family: 'Luminari';
}

.events {
  list-style-type: none;
  padding-left: 103px;
  max-width: 500px;
}

.filter-input {
  padding-left: 150px;
  padding-top: 100px;
}

ul {
  padding: 25px;
}

.jumbotron {
  background-image: url("http://cliparts.co/cliparts/8cz/6r8/8cz6r8Kcp.png");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  background-color: white;
  height: 375px;
}

.link {
  color: white;
}

.jumbotron-btn {
  background: black;
}

.link:hover {
  color: white;
}

h1,
h2 {
  font-family: 'Luminari';
}

.mb-50{
  margin-bottom: 50px
}

.link-black {
  color: black;
}

.link-black:hover {
  color: black;
}

.event-details {
  font-family: 'Luminari';
  width: 40vw;
  margin: 0 auto;
}

.details-jumbotron {
  font-family: 'Luminari';
  width: 50vw;
  margin: 0 auto;
}
