body {
  background-image: url('./static/img/scroll3.png');
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  min-width: 100%;
  min-height: 100%;
}

main {
  display:flex;
  flex-direction: row;
  justify-content: center;
}

.content {
  width: 70vw;
}

.btn-secondary, .btn, .btn-group-sm, button:not(:disabled)  {
  cursor: url("https://img.icons8.com/color/48/000000/fantasy.png"), auto;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  /* color: white; */
}

/* .home-jumbotron {
  padding: 10px;
  font-family: 'Luminari';
} */

.browse-background {
  background-image: url('./static/img/HomeHero2.png');
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
  height: 275px;
  margin: 0 auto;
  margin-top: 15px;
}

.events {
  list-style-type: none;
  padding-left: 103px;
  max-width: 500px;
  margin: 0 auto;
}

.filter-input {
  margin-top: 5px;
  margin-left: 6vw;
  padding-top: 0px;
}
.wider {
  width: 45vw;
}

.feature {
  background-image: url('./static/img/FeaturedEvent2.png');
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
  height: 300px;
  width: 300px;
  margin-left: 6vw;
  margin-top: 20px;
}

ul {
  padding: 25px;
}

.round-border {
  border: 1px solid black;
  border-radius: 8% ! important;
}

.home {
  background-image: url('./static/img/HomeHero1.png');
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
  /* background-color: white; */
  height: 375px;
  cursor: url("https://img.icons8.com/color/48/000000/fantasy.png"), auto;
  margin-bottom: 0;
}

.link {
  color: white;
  cursor: url("https://img.icons8.com/color/48/000000/fantasy.png"), auto;
}

.event-card {
  font-size: 20px;
  font-weight: bold;
  position: relative;
}

.text-btm {
  position: absolute;
  bottom: 0;
}

.bold {
  font-family: 'Luminari';
  font-weight: bold;
}

.card-link {
  cursor: url("https://img.icons8.com/color/48/000000/fantasy.png"), auto;
  color: black;
}

.card-link:hover {
  cursor: url("https://img.icons8.com/color/48/000000/fantasy.png"), auto;
  color: black;
}

.link:hover {
  color: white;
  text-decoration: none;
}

h1,
h2,
h3,
h4,
h5 {
  font-family: 'Luminari';
}

.mb-50{
  margin-bottom: 50px
}

.link-black {
  color: black;
  cursor: url("https://img.icons8.com/color/48/000000/fantasy.png"), auto;
}

.link-black:hover {
  color: black;
}

.details {
  font-family: 'Luminari';
  width: 40vw;
  padding-top: 20px;
  margin: 0 auto;
  text-align: center;
}

.event-details {
  font-family: 'Luminari';
  width: 40vw;
  margin: 0 auto;
}

.sbs-btn {
  margin: 10px;
}

.mt {
  margin-top: 30px;
}

.card-img {
  height: 145px;
}

.calendar {
  padding-top: 90px;
  padding-right: 35px;
  height: 395px;
  width: 385px;
}

