@font-face {
  font-family: 'Luminari';
  font-style: normal;
  font-weight: normal;
  src: local('Luminari'), url('Luminari-Regular.woff') format('woff');
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.navbar{
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  border: 1px solid rgba(0, 0, 0, 0.658)
}


.profileImage{
  height: 30px;
  width: 30px;
  position: absolute;
  right: 3%;
}

.navbar-light .navbar-brand{
  color: rgb(33, 33, 199)
}

.navbar-light .navbar-toggler{
  color: rgb(33, 33, 199)
}

.AppTitle {
  font-family: 'Luminari';
  font-size: 2em;
}

.Menu {
  position: absolute;
  left: 3%;
}



